{% extends 'base.html' %}

{% load static %}
{% block title %}Create Menu{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    
    {% for field in form %}
    {{form.as_p}}
    {% endfor %}
    <div class='mb-2'>
        <button type="submit" class="btn btn-primary">완료</button>
    </div>
</form>
<!-- 뒤로 가기 버튼 -->
<button onclick="goBack()" class="btn btn-secondary">뒤로 가기</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock content %}
