{% extends 'base.html' %}

{% load static %}
{% block title %}Create Menu{% endblock %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <div class="mb-3">
        <label for="id_category_name" class="form-label">Category Name</label>
        <input type="text" class="form-control category-name" id="id_category_name" name="category_name" placeholder="Enter category name">
    </div>
    {% for field in form %}
    <p class="form-field">{{ field.label_tag }} {{ field }}</p>
    {% endfor %}
    <button type="submit" class="btn btn-secondary">완료</button>
</form>
<!-- 뒤로 가기 버튼 -->
<button onclick="goBack()">뒤로 가기</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>
{% endblock content %}
