{% extends 'base.html' %}

{% load static %}
{% block title %}Bookmark List{% endblock %}
{% block content %}

<br>

<ul style="list-style-type: none; padding: 0;">
    {% for category in object_list %}
    <li style="display: inline-block; margin-right: 10px;"> <!-- 각 카드 요소를 인라인 블록으로 설정하고 우측 마진 추가 -->
        <div class="card" style="width: 18rem;">
            {% comment %} <img src="{% static 'img/coffee.png' %}" class="card-img-top"> {% endcomment %}
            <div class="card-body">
                <h5 class="card-title">{{ category.name }}</h5>
                <p class="card-text">menu category content</p>
                <a href="{% url 'cafe:detail' category.id %}" class="btn btn-primary">{{category.name}}</a>
            </div>
        </div>
    </li>
    {% endfor %}
</ul>
<!-- 뒤로 가기 버튼 -->
<button onclick="goBack()">뒤로 가기</button>

<script>
    function goBack() {
        window.history.back();
    }
</script>

<form method="get" action="{% url 'cafe:category_create' %}">
    <button type="submit">카테고리 추가하기 </button>
</form>

{% endblock content %}