{% extends 'base.html' %}

{% load static %}
{% block title %}Create Menu{% endblock %}
{% block content %}

<div class='mb-2'>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class='btn btn-primary'>메뉴 추가하기</button>
    </form>
</div>
<!-- 뒤로 가기 버튼 -->
<div class = 'mb-2'>
    <button onclick="goBack()" class="btn btn-secondary">뒤로 가기</button>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

{% endblock content %}