{% extends 'base.html' %}

{% load static %}
{% block title %}결제 완료{% endblock %}
{% block content %}

<div class='mb-2'>
    <form method="get" action="{% url 'home' %}">
        <button type="submit" class='btn btn-primary'>홈</button>
    </form>
</div>
<div class='mb-2'>
    <form method="get" action="{% url 'cafe:index' %}">
        <button type="submit" class="btn btn-primary">추가 주문하기 </button>
    </form>
</div>

<script>
    function showPaymentSuccessMessage() {
        var message = "결제가 성공적으로 완료되었습니다.";  
        alert(message);  
    }

    window.onload = function() {
        showPaymentSuccessMessage();
    };
</script>

{% endblock content%}
